.FullViewPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6em;
  width: 100%;
  height: 100vh;

  .rendered {
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: auto;
    padding: 0 1.25em;
    background-color: #fff;
  }

  .settings {
    padding: 1.25em;
  }

  .data {
    overflow-y: auto;
    padding: 1.25em;
  }
}
