@import '../../variables.scss';

.FullViewPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;

  .rendered {
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: auto;
    padding: 0 1.25em;
    background-color: #fff;
  }

  .settings {
    height: 100vh;
    background: linear-gradient($tools-bg-primary 0%, $tools-bg-secondary 100%);
  }

  .data {
    overflow-y: auto;
    padding: 1.25em;
    display: none;
  }
}
