@import '../../../general.scss';

.ExistingValueItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  list-style: none;
  margin: 0;
  padding: 0.1em 0.1em 0.1em 0.5em;
  border: 1px solid $field-border;
  border-radius: 0.5em;
  background-color: #f8f8f8;
  font-family: Courier, monotype;

  .item {
    padding-top: 0.1em;
    word-wrap: break-word;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    line-height: 0;
    height: 1em;
    cursor: pointer;
  }
}
