@import '../../general.scss';

.Button {
  font-size: 1.2rem;

  @include button;

  &:disabled {
    background-color: rgb(110, 110, 110);

    &:hover {
      transform: scale(1);
    }
  }
}

.small {
  padding: 0.3em 1em;
  border-radius: 0.6em;
  font-size: 1rem;
  box-shadow: rgb(100 100 111 / 50%) 0px 2px 4x 0;
}
