.PutStringPage {
  padding: 1rem 1rem 2rem 1rem;

  .textarea {
    padding: 0.6rem 1rem;
    border-radius: 0.7rem;
    border: 1px solid lightgrey;
    font-family: Courier, monotype;
    font-size: 1.2em;
    color: grey;
  }

  .buttons {
    display: flex;
    gap: 0.7rem;
    justify-content: space-between;
    width: auto;
  }
}

.putJsonForm {
  display: grid;
  gap: 1rem;
}
