@use '../../../../variables.scss';

.SettingsHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: variables.$header-bg;
  background: radial-gradient(
    circle at right top,
    variables.$header-bg-secondary 0%,
    variables.$header-bg 100%
  );
}

.header {
  font-size: 1.6rem;
  margin: 0.9em auto 1em 1.5em;
  color: variables.$base-light;
}

ul.tabs {
  display: flex;
  flex-direction: row;
  margin: 0 1em 0 0;
}

li.Tab {
  list-style: none;
  padding: 0.5em 1em;
  border-radius: 0.5em 0.5em 0 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: variables.$base-light;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);

  &:hover {
    color: white;
    text-shadow: 0px 0px 20px #0f111a;
  }

  &.active {
    display: flex;
    background-color: variables.$tools-bg-primary;
    color: variables.$base-dark;
    box-shadow: variables.$header-shadow;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);

    &:hover {
      color: inherit;
      text-shadow: inherit;
    }
  }
}
