$base-dark: #192328de;
$base-light: #dbe4e9;

$tools-bg-primary: #dfe9f3;
$tools-bg-secondary: #ffffff00;

$header-bg: #1c3a57;
$header-bg-secondary: #405e7a;
$header-shadow: -1px -15px 10px -2px #3535354d;
